

*{
    margin: 0;
}


ul {
    display: flex;
    justify-content: space-around;
    
}

.header {
    display: flex;
}

.lang {
    background-color:black ;
}

.wrapper {
    background-color:darkgray;
}



#carouselExampleIndicators {
    width: 60%;
    margin: 0 auto;

}

.wrapper {
    height: 56px;
}

.zaglav {
    margin: 0 20px;
}

.nav {
    width: 100%;
    justify-content: space-around;
}