* {
    margin: 0px;
}

.wrapper {

}

p {
    background-color: coral;
}

div {
    border: 1px solid black;
}

#position-r {
    position: relative;
    top: 50px;
    left: 100px;
    background-color: darkkhaki;
}

#position-a {
    position: absolute;
    right: 50px;
    top: 0;
    background-color: brown;
}

#position-f {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-color: blue;
}

.position-s {
    position: sticky; 
    top: 0;
}